absl-py==2.1.0
aiobotocore 
aiohttp
aioitertools
aiosignal
alabaster
altair
annotated-types==0.7.0
anyio
appdirs==1.4.4
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
astropy-iers-data
asttokens
astunparse==1.6.3
async-lru
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
backcall==0.2.0
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker
bokeh
botocore
Bottleneck
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
colorcet
comm
constantly 
contourpy
cookiecutter
cryptography
cssselect
cycler
cytoolz
dask
dask-expr
datashader
debugpy
decorator
defusedxml
diff-match-patch
dill
distlib==0.3.8
distributed
dm-tree==0.1.8
docopt==0.6.2
docstring-to-markdown
docstring_parser==0.16
docutils
entrypoints
et-xmlfile
etils==1.10.0
executing
fastapi==0.115.5
fastjsonschema
filelock
flake8
Flask
flatbuffers==24.3.25
fonttools
frozenlist
fsspec
gast==0.6.0
gensim
gitdb
GitPython
gunicorn==21.2.0
google-pasta==0.2.0
googleapis-common-protos==1.65.0
greenlet
grpcio==1.67.1
h11==0.14.0
h5py
HeapDict
holoviews
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
immutabledict==4.2.0
importlib-metadata
importlib_resources==6.4.5
incremental
inflection
iniconfig
intake
intervaltree
ipykernel
ipython==8.12.3
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jmespath
joblib
json5
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keras==3.6.0
keyring
kiwisolver
lazy-object-proxy
lazy_loader
lckr_jupyterlab_variableinspector
libclang==18.1.1
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
missingno==0.5.2
mistune
mkl-fft
mkl-random
mkl-service==2.4.0
ml-dtypes==0.4.1
more-itertools
mpmath
msgpack
multidict
multipledispatch
mypy
mypy-extensions
namex==0.0.8
nbclient
nbconvert==7.16.4
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
openpyxl
opt_einsum==3.4.0
optree==0.13.0
overrides
packaging
pandas
pandocfilters
panel
param
paramiko
parsel
parso
partd
pathspec
patsy
pexpect
pickleshare
pillow
pipenv==2024.0.2
pipreqs==0.5.0
platformdirs
plotly
pluggy
ply
prometheus-client
promise==2.3
prompt-toolkit
Protego
protobuf==3.20.3
psutil
ptyprocess
pure-eval
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycparser
pyct
pycurl==7.45.2
pydantic==2.9.2
pydantic_core==2.23.4
pydeck
PyDispatcher
pydocstyle
pyerfa
pyflakes
Pygments
pylint
pylint-venv
pyls-spyder==0.4.0
PyNaCl
pyodbc
pyOpenSSL
pyparsing
PyQt5==5.15.10
PyQt5-sip
PyQtWebEngine==5.15.6
PySocks
pytest
python-dateutil
python-json-logger
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-multipart==0.0.17
python-slugify
python-snappy
pytoolconfig
pytz
pyviz_comms
pywavelets
pywin32-ctypes
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib
referencing
regex
requests
requests-file
rfc3339-validator
rfc3986-validator
rich
rope
rpds-py
Rtree
s3fs
scikit-image
scikit-learn
scipy
Scrapy
seaborn
Send2Trash
service-identity
setuptools==69.5.1
simple-parsing==0.1.6
sip
six
smart-open
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
stack-data
starlette==0.41.2
statsmodels
streamlit
sympy
tables
tabulate
tblib
tenacity
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-datasets==4.9.7
tensorflow-metadata==1.16.1
tensorflow_intel
termcolor==2.5.0
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
toml
tomli
tomlkit
toolz
tornado
tqdm
traitlets
Twisted
typing_extensions
tzdata
uc-micro-py
ujson
unicodedata2
Unidecode
urllib3
uvicorn==0.32.0
virtualenv==20.26.5
w3lib
watchdog
wcwidth
webencodings
websocket-client
Werkzeug
whatthepatch
wheel==0.43.0
widgetsnbextension
win-inet-pton
wrapt
xarray
xlwings
xyzservices
yapf
yarg==0.1.9
yarl
zict
zipp
zope.interface